controller:
  persistence:
    enabled: true
    storageClass: "local-path"
    size: 10Gi

  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "2"
      memory: "4Gi"
